@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.xccstyle .navtop .navigation {
    font-family: 'Open Sans', "Helvetica Neue", Roboto, Helvetica, Arial !important;
}
.xccstyle .navtop .navigation {
    border: 1px solid #d2d2d2;
    margin: 15px 0 1px 0;
    border: none;
    margin-right: 0;
    margin-top: 50px;
    font-size: 13px;
}
#icecNavigation {
    position: relative;
    left: 30px;
    z-index: 1000;
}
.xccstyle .navtop .maindrop, 
.xccstyle .navtop .subdrop, 
.xccstyle .navtop .thirddrop {
    list-style: none;
    margin: 0;
    padding: 0;
}
.xccstyle .navtop .xccHeader .maindrop {
    display: inline-block;
    margin-bottom: 5px;
}
.xccstyle .navtop .maindrop li {
    float: left;
    position: relative;
    padding: 3px 12px;
}
.xccstyle .navtop .maindrop li ul {
    position: absolute;
    width: 140px;
    top: 25px;
    left: -3000px;
}
.xccstyle .navtop .maindrop li li ul.thirddrop {
    left: -3000px;
    top: -1px;
}
.xccstyle .navtop .maindrop li:hover ul.subdrop {
    left: -1px;
}
.xccstyle .navtop .maindrop li li:hover ul.thirddrop {
    left: 119px;
}

.xccstyle .navtop .maindrop li li,
.xccstyle navtop .maindrop li li li {
    float:none;
    position:relative;
    left:0;
}
.xccstyle .navtop .maindrop li li a {
    width: 120px;
}
.xccstyle .navtop .maindrop li a {
    font-size: 18px;
}
.xccstyle .navtop .maindrop li {
    border-right: 1px solid #d2d2d2;
}
.xccstyle .navtop .maindrop li:last-child {
    border-right: none;
}
.xccstyle .navtop .maindrop li li {
    border-right:none;
    border-top: 1px solid #eee;
}
.xccstyle .navtop .maindrop li li:last-child {
    border-bottom: 1px solid #eee;
}
.xccstyle .navtop .maindrop li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}
.xccstyle .navtop a:not(.xccStaticLink):not(.download), 
.xccstyle .navtop a:not(.xccStaticLink):not(.download):visited {
    word-wrap: break-word;
    vertical-align: top;
}
.xccstyle .navtop a:not(.xccStaticLink):not(.download),
.xccstyle .navtop a:not(.xccStaticLink):not(.download):visited {
    font-size: 12px;
}
.xccstyle .navtop a:not(.xccStaticLink):not(.download),
.xccstyle .navtop a:not(.xccStaticLink):not(.download):visited {
    color: #333!important;
    font-weight: 100!important;
    text-decoration: none!important;
    cursor: pointer;
}
.xccstyle .navtop a.active:not(.xccStaticLink):not(.download),
.xccstyle .navtop a.active:not(.xccStaticLink):not(.download):visited {
    color: #fff;
}
.xccstyle .navtop .maindrop li,
.xccstyle .navtop .maindrop li li,
.xccstyle .navtop .maindrop li li li {
    background-color: #fff;
}    
.xccstyle .navtop .maindrop li a:hover, 
.xccstyle .navtop .maindrop li:hover {
    color: #fff;
    background-color: #ccc;
    font-weight: 400;
}
.xccstyle .navtop .maindrop li a ul {
    display:none;
    position:absolute;
}
.xccstyle .navtop .maindrop li a:hover ul {
    display:block;
}
.xccstyle .navtop li .toggle_click {
    float: right;
    padding-top: 1px;
    color: #eee;
}

@media all and (-ms-high-contrast:none) {
    /* IE11 adjustment */
     *::-ms-backdrop, .lotusui30_body .lotusFrame {
         margin-top: 40px;
    } 
}
